@font-face {
    font-family: "source-sans-pro";
    src: url(/fonts/source-sans-pro.regular.ttf);
}

@font-face {
    font-family: "source-sans-pro-semi-bold";
    src: url(/fonts/source-sans-pro.semibold.ttf);
}

@font-face {
    font-family: "source-sans-pro-bold";
    src: url(/fonts/source-sans-pro.bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.landing {
    height: 80vh;
    width: 100%;
    background-image: url('/images/page-title-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.landing-overlay {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(3, 8, 33, 0.6), rgb(3, 8, 33, 0.6));
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 10px 8%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;

}

.fixed-header-scrolled {
    background-color: #ffffff;
    /* Change the background color on scroll */
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    list-style: none;

}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    letter-spacing: 0.2px;
    background-color: transparent;
    transition: 0.3s ease-in-out;

}

li a:hover {
    color: #fbc31b;
}

li #about {
    color: #fbc31b;
}

#R-btn {
    height: 47px;
    width: 210px;
    border: 2px solid #fbc31b;
    border-radius: 100px;
    background: transparent;
    color: #fbc31b;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    position: relative;
    transition: 0.9s;
}

#R-btn:hover {
    color: #ffffff;
    background-color: #fbc31b;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 40%;
    line-height: 2;

}

.content ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}


.content ul :nth-child(1) {
    list-style-type: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600px;
}

.content ul :nth-child(1):hover {
    color: #fbc31b;
}

.content ul :nth-child(2) {
    list-style-type: #fbc31b decimal;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600px;
}

.content h1 {
    color: white;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    font-size: 40px;
}

.content ul li {
    color: white;
}

.content ul li a {
    color: white;
}

.about-us {
    height: 110vh;
    width: auto;
    background-color: #1b1b1b;
    padding-top: 96px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
}

.about-left h3 {
    color: #fbc31b;
    font-family: cursive;
    font-size: 22px;
}

.about-left h1 {
    color: white;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    font-size: 35px;
    letter-spacing: 1.5;
}

.about-right img {
    border-radius: 3px;
    height: 350px;
}

.about-left h3,
h1 {
    margin-bottom: 20px;
}

.wordings p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #dadada;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    font-size: 15px;

}

#R-more {
    height: 45px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #fbc31b;
    background-color: transparent;
    color: #fbc31b;
    font-weight: 600;
    cursor: pointer;
}

.about-3 img {
    width: 250px;
    height: 160px;
    position: relative;
    top: 20px;
    left: 280px;
}

.intro {
    width: 100%;
    height: 100vh;
    background-image: url(/images/review-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.intro-overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.pop-up {
    line-height: 1.8;
    position: relative;
    top: 20%;
}

.pop-up img {
    height: 110px;
    cursor: pointer;
}

.pop-up h1 {
    color: #fff;
    font-family: cursive;
    font-size: 50px;
}

.reservation {
    height: 454px;
    width: 450px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    line-height: 1.5;
}

.reservation h6 {
    color: #fbc31b;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5;
}

.reservation h5 {
    color: white;
    font-size: 25px;
    font-family: "Source-sans-pro-semi-bold", sans-serif;
    font-weight: 600;
}

.info {
    padding-top: 15px;
    line-height: 1.8;
}

.info h4 {
    color: #fff;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    font-size: 22px;
}

.info p {
    color: #fff;
    font-size: 16px;
    font-family: "source-sans-pro-semi-bold";
}

.info p a {
    color: #fff;
    font-size: 16px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    text-decoration: none;
    font-weight: 700;

}


.date {
    padding-top: 15px;
    line-height: 1.8;
}

.date h4 {
    color: #fff;
    font-size: 20px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.date h5 {
    color: #fff;
    font-size: 16px;
}

.date h6 {
    color: #dadada;
}

.chefs {
    height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 80px;

    background-color: #101010;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;

}

.title h3 {
    color: #fbc31b;
    font-family: cursive;
    font-size: 22px;
}

.title h1 {
    color: #fff;
    font-family: "source-sans-pro-semi-bold";
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.profile-box {
    height: auto;
    width: auto;
}

.names {
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
}

.names h5 {
    color: #fff;
    font-size: 18px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.names h6 {
    color: #fbc31b;
    font-size: 12px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.testimonies {
    height: 80vh;
    width: 100%;
    background: url(/images/review-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonies-overlay {
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 70px;
    text-align: center;
}

.testimonial-heading {
    line-height: 1.5;
}

.testimonial-heading h3 {
    color: #fbc31b;
    font-family: cursive;
    font-size: 22px;
    text-transform: capitalize;
}

.testimonial-heading h1 {
    color: white;
    font-size: 40px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.swiper-wrapper {
    padding-top: 30px;
}

.swiper-slide span i {
    color: #fbc31b;
    font-size: 17px;
}

.swiper-slide p {
    color: white;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    padding-top: 15px;
    font-size: 15px;
}

.swiper-slide .avatar {
    margin-top: 25px;
}

.swiper-slide .avatar img {
    object-fit: cover;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    outline: transparent;
    position: relative;
}

.profile-text {
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.profile-text h4 {
    color: white;
    font-size: 20px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.profile-text p {
    color: white;
    font-size: 15px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    padding-bottom: 20px;
    position: relative;
    bottom: 13px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    /* Your desired default color */
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fbc31b;
    /* Your desired color */
}

.awards {
    height: 330px;
    width: 100%;
    background-color: #1b1b1b;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.award p {
    color: white;
    font-size: 15px;
    font-family: "source-sans-pro-semi-bold";
    position: relative;
    bottom: 20px;
}

.footer {
    height: 350px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #101010;
    display: flex;
    justify-content: space-between;

}

.section h3 {
    color: white;
    font-size: 24px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
    border-bottom: 1px dashed #3c4350;
    padding-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    text-align: center;
    line-height: 1.6;
}

.section p {
    color: #dadada;
    font-size: 15px;
    font-family: "source-sans-pro";
    padding-top: 10px;
}

.section li {
    list-style: none;
}

.section li a {
    color: #dadada;
    font-size: 24px;
    font-family: "source-sans-pro-semi-bold", sans-serif;
}

.section li .email {
    font-size: 15px;
}

.section li a:hover {
    color: #fbc31b;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}

.footer-icons li i {
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 23px;
    font-weight: 300;
}

.footer-icons li i:hover {
    color: #fbc31b;
}